// .key-dates {
//   position: relative;
//   margin-bottom: 50px;
//   overflow: hidden;
//   height: 3100px;
//   @media (max-width: 768px) {
//     height: auto;
//     overflow: initial;
//   }
//   &.fixed {
//     .key-dates-wrapper {
//       position: fixed;
//       top: 0px;
//       width: 100%;
//       bottom: 0px;
//     }
//   }
//   &.absolute {
//    .key-dates-wrapper{
//       position: absolute;
//       bottom: 90px;
//       width: 100%;
//     }
// }
//   .title-section {
//     margin-bottom: 80px;
//     margin-top: 80px;
//   }
//   .date-point {
//     text-align: center;
//     display: block;
//     position: relative;
//     .date {
//       margin-bottom: 40px;
//       font-weight: 100;
//       letter-spacing: 2px;
//       margin-top: 0;
//       opacity: 0;
//       transition: all .5s;
//     }
//     .point-wrapper {
//       position: relative;
//       display: inline-block;
//       width: 100%;
      
//       .line {
//         width: 0;
//         height: 1px;
//         background-color: white;
//         position: absolute;
//         top: calc(50% - -1px);
//         left: 50%;
//         z-index: -1;
//       }
//        span {
//          width: 25px;
//          height: 25px;
//          border: solid 3px #83E6AB;
//          border-radius: 50%;
//          display: block;
//          margin: auto;
//          background-color: #0e0e14;
//          transform: translateX(-2000px);
//          @media (max-width: 768px) {
//            transform: translateX(0);
//          }
//        }
      
//     }
//     h5 {
//       color: $light-blue;
//     }
//     .content {
//       opacity: 0; 
//       transition: all .3s;
//       transform: translateY(20px);
//       @media (max-width: 768px) {
//         opacity: 1;
//       }
//     }
//     p {
//       margin-top: 30px;
//       font-weight: 200;
//       letter-spacing: 2px;
//       font-size: 12px;
//       padding: 0 0 0 30px;
//       text-align: left;
//       line-height: 20px;
//     }
//     ul {
//       padding-left: 43px;
//       list-style-type: circle;

//       li {
//         text-align: left;
//         font-size: 11px;
//         font-weight: 200;
//         letter-spacing: 1.5;
//         line-height: 18px;
//       }
//     }
//     &.active {
//       .date {
//         opacity: 1;
//       }
//       .content {
//         opacity: 1;
//         transform: translateY(0);
//       }
//     }
//     &:nth-child(1) {
//       padding-left: 0 !important;
//     }
//     &:last-child {
//       padding-right: 0 !important;
//     }
     
//   }

//   .col-md-2:nth-child(6) {
//     .point-wrapper {
//       .line {
//         display: none;
//       }
//     }
//   }
//   @media (max-width:768px) {
//    .date-point {
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     height: auto;
//      &:after {
//       content: '';
//       position: absolute;
//       width: 1px;
//       height: 100%;
//       background-color: white;
//       left: 15px;
//       top: 0;
//       z-index: -1;
//     }
//     .date {
//       position: absolute;
//       top: 5px;
//       left: 50px;
//       opacity: 1;
//     }
//     .point-wrapper {
//       span {
//         margin: initial;
//       }
//     }
//     .content {
//       margin-bottom: 50px;
//       li {
//         font-size: 15px;
//         line-height: 21px;
//         margin-left: 31px;
//       }
//     }
//       p {
//         margin-top: 0px;
//         margin-left: 30px;
//         font-size: 15px;
//       }

//     }
//   }
//   @media(max-width: 540px) {
//       .date-point {
//         &:before {
//           top: calc(50% - 18px);
//         }
//       }
//   }
// }

.roadmap-sect {
  padding: 70px 0;
  color: $theme-color;
  .row {
    justify-content: center;
  }
  .years {
    ul {
      display: flex;
      width: 100%;
      li {
        width: 16.6666%;
        text-align: center;
        cursor: pointer;
        padding: 0 3%;
        font-weight: 500;
        transition: all .3s;
        h4 {
          margin: 15px 0;
        }
        span {
          height: 2px;
          width: 100%;
          display: inline-block;
          background: -webkit-linear-gradient(left, $white 0, $theme-green 50%, $white  100%);     
        }
        &.active, &:hover {
          color: $theme-green;
        }
      }
    }
  }
  .divider {
    height: 2px;
    margin: 70px auto;
    width: 60%;
    background: -webkit-linear-gradient(left, $white 0, $theme-green 50%, $white 100%);
    display: block;
  }
  .y-content {
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
    min-height: 24vh;
     div {
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      p {
        font-weight: 200;
        font-size: 20px;
      }

      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        height: 100%;
        transition: all .3s;
        transition-delay: .3s;
      }
    }
  }
}
.doc-sect {
  padding: 70px 0;
  background:$dark-background;
  text-align: center;
  h1 {
    margin-bottom: 40px;
    color: $white;
  }
}