.tryit-sect {
  height: 100vh;
  position: relative;
  color: $theme-color;
  padding: 70px 0;
  .app-preview {
    position: absolute;
    left: 18%;
    width: 27%;
    top: 6%;
    .app-preview-wrap {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
      }
      .slider-wrap {
        position: absolute;
        width: 65.8%;
        height: 69.4%;
        display: inline-block;
        top: 12.7%;
        left: 18.7%;
        .views {
          position: relative;
          width: 100%;
          height: 100%;
          .img-wrap {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .4s;
            img {
              width: 100%;
            }
            &.active {
              opacity: 1;
            }
          }
          .puls-dot {
            position: absolute;
            &.scan-dot {
              top: 7%;
              right: 38%;
            }
            &.map-dot {
              left: 37%;
              bottom: 11%;
            }
            &.lego-dot {
              left: 37%;
              top: 48%;
            }
          }
        }
      }
    }
  }
  .row {
    justify-content: flex-end;
  }
  .steps {
    margin-top: 60px;
    li {
      height: 65px;
      margin-bottom: 40px;
      position: relative;
      cursor: pointer;
      &:first-child() {
        margin-bottom: 20px;
      }
      p {
        font-size: 25px;
        line-height: 30px;
        font-weight: 100;
      }
      span {
        position: absolute;
        color: $theme-green;
        font-size: 65px;
        font-weight: 500;
        top: -28px;
        left: -12px;
        opacity: .3;
        z-index: -1;
      }
      &.active, &:hover {
        span {
          opacity: .8;
        }
      }
    }
  }
}
.ring-container {
  position: relative;
  .circle {
    width: 15px;
    height: 15px;
    background-color: $theme-green;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
  }

  .ringring {
    border: 3px solid $theme-green;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
  }

}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}